{% extends "super_controller/base/base_controller.html" %}
{% block title %}Dashboard{% endblock title %}

{% block content %}


{% if request.user.account_type == "Admin" %}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/controller/dashboard">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-lg-6 col-md-6">
              <div class="card info-card sales-card">



                <div class="card-body">
                  <h5 class="card-title">User <span>| Patients</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                          d="M10.5 6a7.5 7.5 0 1 0 7.5 7.5h-7.5V6Z" />
                        <path stroke-linecap="round" stroke-linejoin="round"
                          d="M13.5 10.5H21A7.5 7.5 0 0 0 13.5 3v7.5Z" />
                      </svg>

                    </div>
                    <div class="ps-3">
                      <h5>Total Patients</h5>
                      
                      <span class="text-primary small pt-1 fw-bold">{{user_data_p}}</span>
                     

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-lg-6 col-md-6">
              <div class="card info-card revenue-card">

                

                <div class="card-body">
                  <h5 class="card-title">User <span>| Doctors</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                          d="M10.5 6a7.5 7.5 0 1 0 7.5 7.5h-7.5V6Z" />
                        <path stroke-linecap="round" stroke-linejoin="round"
                          d="M13.5 10.5H21A7.5 7.5 0 0 0 13.5 3v7.5Z" />
                      </svg>
                    </div>
                    <div class="ps-3">
                      <h5>Total Doctors</h5>
                      <span class="text-success small pt-1 fw-bold">{{user_data_d}}</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->
          </div>
        </div>

      </div>
    </section>


    <div class="card" >
      <h4 class="p-4">Upcoming Reservations</h4>
      <div class="card-body">
        <div class="w-100 d-flex justify-content-between align-items-center">
        <h5 class="card-title">Bed Reservements</h5>
        <h5> <a href="/controller/beds">Go to Bed Reservements</a> </h5>
      </div>
        {% if bed_reservation %}
        <table class="table">
          <thead>
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">User</th>
                  <th scope="col">Room no</th>
                  <th scope="col">Bed no</th>
                  <th scope="col">Date</th>
                  <th scope="col">Status</th>
              </tr>
          </thead>
          <tbody>
            {% for beds in bed_reservation %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              {% if beds.reservation.user.username%}
              <td>{{beds.reservation.user.username}}</td>
              {% else %}
              <td>{{beds.reservation.user.first_name}}</td>
              {% endif %}
              <td>{{beds.room_no}}</td>
              <td>{{beds.bed_no}}</td>
              <td>{{beds.reservation.reservation_date}}</td>
         
              {% if beds.reservation.status == "Pending" %}
              <td><span class="badge text-bg-warning">Pending</span></td>
              
              {% endif %}

              
            </tr>
            {% endfor %}
              
          </tbody>
      </table>
      {% else %}
      <h4>No appointments made by users</h4>
      {% endif %}
      </div>
    </div>



    <div class="card">
      <div class="card-body">
        <h4 class="p-4">Upcoming Appointments</h4>

        <!-- Default Table -->
        {% if appointments %}
        <table class="table">
          <thead>
            
            <tr>
              <th scope="col">#</th>
              <th scope="col">Patient</th>
              <th scope="col">Doctor</th>
              
              <th scope="col">End Date</th>
              <th scope="col">Appointments Status</th>
             
            </tr>
            
          </thead>
          <tbody>
            
            {% for appoint in appointments %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              {% if appoint.user.username %}
              <td>{{appoint.user.username}}</td>
              {% else %}
              <td>{{appoint.user.first_name}}</td>
              {% endif %}

              {% if appoint.doctor_user.username %}
              <td>{{appoint.doctor_user.username}}</td>
              {% else %}
              <td>{{appoint.doctor_user.first_name}}</td>
              {% endif %}


              <td>{{appoint.scheduled_day}}</td>
         
              {% if appoint.status == "Ok" %}
              <td><span class="badge text-bg-success">success</span></td>
              {% elif appoint.status == "Decline" %}
              <td><span class="badge text-bg-danger">Decline</span></td>
              {% endif %}

              
            </tr>
            {% endfor %}
           
          </tbody>
        </table>
        {% else %}
        <h4>No appointments made by users</h4>
        {% endif %}
        <!-- End Default Table Example -->
      </div>
    </div>
  </main><!-- End #main -->
  {% else %}
 <h1 class=" text-center" style="margin-top: 150px; margin-bottom: 150px;">You have not permission to access this page</h1>
  {% endif %}
  {% endblock content %}