{% extends "super_controller/base/base_controller.html" %}
{% block title %}FAQs{% endblock title %}

{% block content %}


  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Frequently Asked Questions</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Frequently Asked Questions</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section faq">
      <div class="row">
        <div class="col-lg-6">

          <div class="card basic">
            <div class="card-body">
              <h5 class="card-title">Basic Questions</h5>

              <div>
                <h6>1. Lorem ipsum, dolor sit amet consectetur adipisicing elit.?</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis atque dolores saepe excepturi
                  incidunt esse accusamus adipisci expedita praesentium. Est eius quae inventore hic alias tempore,
                  labore quasi dolorum esse.</p>
              </div>

              <div class="pt-2">
                <h6>2. Lorem ipsum, dolor sit amet?</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur voluptates dolore cupiditate,
                  aperiam corporis id dignissimos reprehenderit perferendis assumenda eveniet blanditiis ipsam?
                  Accusamus, similique a. Quis architecto labore placeat deserunt!</p>
              </div>

              <div class="pt-2">
                <h6>3. Lorem, ipsum dolor sit amet consectetur adipisicing elit?</h6>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus iusto quisquam repudiandae,
                  minima itaque incidunt dignissimos reiciendis animi explicabo perspiciatis quo hic earum omnis ad
                  cumque sit repellat?</p>
              </div>

            </div>
          </div>

          <!-- F.A.Q Group 1 -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit!</h5>

              <div class="accordion accordion-flush" id="faq-group-1">

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-1" type="button"
                      data-bs-toggle="collapse">
                      Lorem, ipsum dolor sit amet?
                    </button>
                  </h2>
                  <div id="faqsOne-1" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                    <div class="accordion-body">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia consectetur eligendi ipsa
                      corporis assumenda sequi saepe quaerat voluptas natus labore, nisi deleniti blanditiis, commodi
                      aperiam sint temporibus fugit non consequuntur?
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-2" type="button"
                      data-bs-toggle="collapse">
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit?
                    </button>
                  </h2>
                  <div id="faqsOne-2" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                    <div class="accordion-body">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium iste cupiditate sed cum
                      ducimus ut impedit quisquam voluptas optio veritatis. Omnis molestias id, explicabo at nisi unde
                      assumenda provident eligendi.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-3" type="button"
                      data-bs-toggle="collapse">
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit?
                    </button>
                  </h2>
                  <div id="faqsOne-3" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                    <div class="accordion-body">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa tenetur esse, voluptatibus cumque
                      sapiente alias aliquid, pariatur illum accusantium placeat dolorum atque iure, doloribus id eos
                      minus sed tempore quasi..
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-4" type="button"
                      data-bs-toggle="collapse">
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit?
                    </button>
                  </h2>
                  <div id="faqsOne-4" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                    <div class="accordion-body">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quas ducimus eaque accusamus,
                      iusto commodi veritatis ipsum a quia odio voluptas dolores sit necessitatibus labore quibusdam
                      explicabo quisquam modi atque!
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-5" type="button"
                      data-bs-toggle="collapse">
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit?
                    </button>
                  </h2>
                  <div id="faqsOne-5" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                    <div class="accordion-body">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla ipsum consequatur, quia dolores
                      quaerat dolor delectus ipsam expedita officiis numquam? Hic, at ab dolorum quod ullam aperiam
                      vitae praesentium magnam!
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div><!-- End F.A.Q Group 1 -->

        </div>

        <div class="col-lg-6">

          <!-- F.A.Q Group 2 -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur</h5>

              <div class="accordion accordion-flush" id="faq-group-2">

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsTwo-1" type="button"
                      data-bs-toggle="collapse">
                      Lorem, ipsum dolor sit amet consectetur?
                    </button>
                  </h2>
                  <div id="faqsTwo-1" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                    <div class="accordion-body">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit necessitatibus maxime impedit,
                      deserunt quibusdam inventore nobis, similique, quisquam cum tempora eaque ipsam quae? Enim
                      laudantium eaque at officia porro iure?
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsTwo-2" type="button"
                      data-bs-toggle="collapse">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam deleniti?
                    </button>
                  </h2>
                  <div id="faqsTwo-2" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                    <div class="accordion-body">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam voluptatibus saepe quaerat
                      numquam cumque obcaecati nesciunt nisi, perspiciatis officia, ullam quis esse beatae! Itaque
                      beatae molestias iste explicabo tempora nisim a.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsTwo-3" type="button"
                      data-bs-toggle="collapse">
                      Lorem, ipsum dolor sit amet consectetur?
                    </button>
                  </h2>
                  <div id="faqsTwo-3" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                    <div class="accordion-body">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit, natus doloremque impedit nulla
                      incidunt numquam. Laboriosam rem quaerat quia doloribus, unde aut ipsam nostrum sequi. Voluptas
                      possimus est quidem sunt!
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsTwo-4" type="button"
                      data-bs-toggle="collapse">
                      Lorem, ipsum dolor sit amet consectetur?
                    </button>
                  </h2>
                  <div id="faqsTwo-4" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                    <div class="accordion-body">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur laboriosam molestias rerum
                      illo corporis nisi fuga, ad ea, blanditiis eos, ipsa earum rem necessitatibus eligendi assumenda.
                      Illum delectus perspiciatis non.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsTwo-5" type="button"
                      data-bs-toggle="collapse">
                      Lorem, ipsum dolor sit amet consectetur?
                    </button>
                  </h2>
                  <div id="faqsTwo-5" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                    <div class="accordion-body">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci amet incidunt, dolorem mollitia
                      tempora facilis quo? Similique fugiat doloremque ea quae repellat incidunt, maxime est deserunt
                      temporibus, voluptates optio corrupti.
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div><!-- End F.A.Q Group 2 -->

          <!-- F.A.Q Group 3 -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur</h5>

              <div class="accordion accordion-flush" id="faq-group-3">

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsThree-1" type="button"
                      data-bs-toggle="collapse">
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla architecto deserunt?
                    </button>
                  </h2>
                  <div id="faqsThree-1" class="accordion-collapse collapse" data-bs-parent="#faq-group-3">
                    <div class="accordion-body">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit ex natus voluptate voluptatibus
                      totam ducimus modi exercitationem asperiores non dolorum? Libero reiciendis molestias alias
                      similique at neque a dicta doloremque?
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsThree-2" type="button"
                      data-bs-toggle="collapse">
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit?
                    </button>
                  </h2>
                  <div id="faqsThree-2" class="accordion-collapse collapse" data-bs-parent="#faq-group-3">
                    <div class="accordion-body">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, quod magni nesciunt neque
                      iure maiores debitis impedit ipsam maxime laudantium qui, error tempore fugit a tempora, quisquam
                      nulla porro delectus.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsThree-3" type="button"
                      data-bs-toggle="collapse">
                      Lorem, ipsum dolor sit amet consectetur?
                    </button>
                  </h2>
                  <div id="faqsThree-3" class="accordion-collapse collapse" data-bs-parent="#faq-group-3">
                    <div class="accordion-body">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, qui saepe! Modi aliquam omnis
                      saepe sequi corrupti quibusdam quos voluptas velit a! Nisi assumenda natus, voluptatibus quibusdam
                      qui at eaque.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsThree-4" type="button"
                      data-bs-toggle="collapse">
                      Lorem, ipsum dolor sit amet consectetur?
                    </button>
                  </h2>
                  <div id="faqsThree-4" class="accordion-collapse collapse" data-bs-parent="#faq-group-3">
                    <div class="accordion-body">
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente veritatis odio in mollitia
                      voluptatem illum totam consequuntur iusto ratione deleniti blanditiis, autem cumque, at
                      consequatur omnis eaque illo ab ad.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsThree-5" type="button"
                      data-bs-toggle="collapse">
                      Lorem, ipsum dolor sit amet consectetur?
                    </button>
                  </h2>
                  <div id="faqsThree-5" class="accordion-collapse collapse" data-bs-parent="#faq-group-3">
                    <div class="accordion-body">
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure recusandae possimus ipsa
                      exercitationem, iusto ullam enim sint. Excepturi sequi ipsa odit porro. Maxime aut labore
                      officiis? Numquam iure voluptate quis.
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div><!-- End F.A.Q Group 3 -->

        </div>

      </div>
    </section>

  </main><!-- End #main -->
  {% endblock content %}