
{% extends "base/base.html" %}
{% block title %}About us{% endblock title %}
{% load static %}
{% block content %}
    <main class="about-sec d-flex flex-column justify-content-center align-items-center ">
        <div class="p text-center">
            <h1 style="z-index: 100; color: white;">About Us</h1>
            <p style="z-index: 100; color: white;">Home-About</p>
        </div>
    </main>


    <main class="about-sec2 container" style="margin-bottom: 100px;" id="aboutus">
        <div class="text-center head-sec">
            <h1>Bed Reservements</h1>
            <h5 class="mb-3">Lorem Ipsum Lorem Ipsum</h5>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur iure animi rem obcaecati tempora corporis id recusandae? Eveniet similique cupiditate quod beatae eligendi consectetur quis provident. Aliquam excepturi culpa eos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quo velit quisquam veritatis possimus cumque voluptatem distinctio exercitationem natus iure, a illum animi aut, tenetur magni omnis voluptates dolorem. Odio!</p>
        </div>

       

    </main>

    <main class="about-sec3" id="reservations">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mt-5">
                    <h1>24 Hours <span class="d-block">Opening Our Services</span></h1>
                    <div class="d-flex justify-content-between mt-5">
                        <div>
                            <p>Saturday</p>
                        </div>
                        <div>
                            <p>2:00am-12:00pm</p>
                        </div>

                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <div>
                            <p>Monday</p>
                        </div>
                        <div>
                            <p>3:00am-9:00pm</p>
                        </div>

                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <div>
                            <p>Tuesday</p>
                        </div>
                        <div>
                            <p>5:00am-10:00pm</p>
                        </div>

                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <div>
                            <p>Wednesday</p>
                        </div>
                        <div>
                            <p>7:00am-10:00pm</p>
                        </div>

                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <div>
                            <p>Thursday</p>
                        </div>
                        <div>
                            <p>3:00am-10:00pm</p>
                        </div>

                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <div>
                            <p>Friday</p>
                        </div>
                        <div>
                            <p>9:00am-2:00pm</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 mt-5 bg-light pt-3 rounded-3" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;">
                    <h1 class="ms-4">Make an <span class="d-block">Appointment Now</span></h1>
                    <div class="inp-grp ms-4">
                        <form action="">
                            <div class="input-group input-group-lg">

                                <input type="text" class="form-control rounded-0" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-lg" placeholder="Your Name">
                            </div>

                            <div class="mt-4">
                                <select style="height: 48px;" class="form-select rounded-0" id="validationCustom04"
                                    required>
                                    <option selected disabled value="">Departments</option>
                                    <option>Lorem</option>
                                    <option>Lorem</option>
                                    <option>Lorem</option>
                                </select>
                            </div>

                            <div class="input-group input-group-lg mt-4">

                                <input type="tel" class="form-control rounded-0" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-lg" placeholder="Phone Number">
                            </div>

                            <div class="input-group input-group-lg mt-4">

                                <input type="date" class="form-control rounded-0" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-lg" placeholder="02/23/2024">
                            </div>

                            <div class="mt-4 d-flex">
                                <button type="button" class="btn btn-primary ap-btn rounded-0">Appointment Now<svg
                                        class="ms-2" style="height: 15px;" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 512 512">
                                        <path
                                            d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"
                                            fill="white" />
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <main class="container about-sec4 bg-white">
        <div class="row">
            <div class="col-lg-6 p-4">
                <h3>Lorem Ipsum</h3>
                <p>Lorem Ipsum Lorem</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis quaerat quia adipisci aperiam,
                    iusto amet maiores.</p>

                <div class="d-flex">
                    <h6>Address :</h6>
                    <p class="ms-5">Lorem ipsum, dolor sit amet consectetur.</p>
                </div>
                <div class="d-flex">
                    <h6>Email :</h6>
                    <p class="ms-5">John@gmail.comm</p>
                </div>
                <div class="d-flex">
                    <h6>Phone :</h6>
                    <p class="ms-5">+258 369 147</p>
                </div>
                <div class="d-flex">
                    <h6>Website :</h6>
                    <p class="ms-5">jif@htmt.com</p>
                </div>
                <div class="d-flex">
                    <h6>Interview : </h6>
                    <p class="ms-5">Lorem ipsum</p>
                </div>
            </div>
            <div class="col-lg-6">
                <img style="width: 100%; height: 420px;" src="{% static 'media/hero.jpg' %}" alt="img">
            </div>
        </div>
    </main>

    <main class="container about-sec5">
        <div class="d-flex justify-content-between">
            <div>
                <h1 class="fw-lighter">Meet Our</h1>
                <h2>Professional Doctors</h2>
            </div>
            <div class="mt-5">
                <button type="button" class="btn btn-primary all-doc-btn rounded-0">View All Doctors<svg class="ms-2"
                        style="height: 15px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path
                            d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"
                            fill="white" />
                    </svg>
                </button>
            </div>
        </div>


        <div class="row mt-5">
            <div class="col-lg-3 col-md-6 mt-sm-3 col-sm-6 d-flex justify-content-center">
                <div class="card border-0 " style="width: 15rem; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
                    <img style="width: 100%;" src="https://dummyimage.com/288x250/8f888f/fff" class="card-img-top"
                        alt="img">
                    <div class="card-body">
                        <h5 class="card-title">Lorem</h5>
                        <p class="card-text">Therapy</p>
                        <h6>Phone : <span class="fw-lighter">658 222 127 964</span></h6>
                        <h6>Email : <span class="fw-lighter">admin@gmail.com</span></h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-sm-3 col-sm-6 mt-sm-3 d-flex justify-content-center">
                <div class="card border-0" style="width: 15rem; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
                    <img style="width: 100%;" src="https://dummyimage.com/288x250/8f888f/fff" class="card-img-top"
                        alt="img">
                    <div class="card-body">
                        <h5 class="card-title">Lorem</h5>
                        <p class="card-text">Throat Specialist</p>
                        <h6>Phone : <span class="fw-lighter">658 222 127 964</span></h6>
                        <h6>Email : <span class="fw-lighter">admin@gmail.com</span></h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-md-4 mt-sm-3 col-sm-6 d-flex justify-content-center">
                <div class="card border-0" style="width: 15rem; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
                    <img style="width: 100%;" src="https://dummyimage.com/288x250/8f888f/fff" class="card-img-top"
                        alt="img">
                    <div class="card-body">
                        <h5 class="card-title">Lorem</h5>
                        <p class="card-text">Pediatrist</p>
                        <h6>Phone : <span class="fw-lighter">658 222 127 964</span></h6>
                        <h6>Email : <span class="fw-lighter">admin@gmail.com</span></h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-md-4 mt-sm-3 col-sm-6  d-flex justify-content-center">
                <div class="card border-0 " style="width: 15rem; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
                    <img style="width: 100%;" src="https://dummyimage.com/288x250/8f888f/fff" class="card-img-top"
                        alt="img">
                    <div class="card-body">
                        <h5 class="card-title">Lorem</h5>
                        <p class="card-text">Cardiologist</p>
                        <h6>Phone : <span class="fw-lighter">658 222 127 964</span></h6>
                        <h6>Email : <span class="fw-lighter">admin@gmail.com</span></h6>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% endblock content %}