{% extends "base/base.html" %}
{% block title %}Bed Reservements{% endblock title %}

{% load static %}
{% block content %}
<main class="container mt-5">
    <div class="row">
        <div class="col-lg-3 col-md-9 col-sm-12 pt-2 pb-2 ps-4 pe-4 bg-light" style="height: 500px;">
            <div class="container-fluid">
                <div class="mb-4">
                    <h3>Filters</h3>
                </div>
                <div class="mb-4">
                    <h5 class="mb-3">Filters by Availablity</h5>
                    <ul style="list-style: none;">
                        <li class="mb-2"><span><input type="checkbox" id="input1" class="me-2"></span><label
                                style="font-weight: 600; cursor: pointer;" for="input1">Available Doctor</label></li>
                    </ul>
                </div>
                <div class="mb-3">
                    <h5 class="mb-3">Filters by Speciality</h5>

                    <ul style="list-style: none;">
                        <li class="mb-2">
                            <span><input type="checkbox" id="cardiology" class="me-2"></span>
                            <label style="font-weight: 600; cursor: pointer;" for="cardiology">Cardiology</label>
                        </li>
                        <li class="mb-2">
                            <span><input type="checkbox" id="dermatology" class="me-2"></span>
                            <label style="font-weight: 600; cursor: pointer;" for="dermatology">Dermatology</label>
                        </li>
                        <li class="mb-2">
                            <span><input type="checkbox" id="endocrinology" class="me-2"></span>
                            <label style="font-weight: 600; cursor: pointer;" for="endocrinology">Endocrinology</label>
                        </li>
                        <li class="mb-2">
                            <span><input type="checkbox" id="gastroenterology" class="me-2"></span>
                            <label style="font-weight: 600; cursor: pointer;"
                                for="gastroenterology">Gastroenterology</label>
                        </li>
                        <li class="mb-2">
                            <span><input type="checkbox" id="ophthalmology" class="me-2"></span>
                            <label style="font-weight: 600; cursor: pointer;" for="ophthalmology">Ophthalmology</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="row mb-5">
                <div class="col-lg-8 col-md-8 sol-sm-8">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-dark" type="submit">Search</button>
                    </form>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 text-end">
                    <p class="fs-5">Available Specialist (100)</p>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card">
                        <img src="{% static 'media/hero.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Doctor name</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content.</p>
                            <a href="#" class="btn btn-primary">Contact me</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="{% static 'media/hero.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Doctor name</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content.</p>
                            <a href="#" class="btn btn-primary">Contact me</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="{% static 'media/hero.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Doctor name</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content.</p>
                            <a href="#" class="btn btn-primary">Contact me</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="{% static 'media/hero.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Doctor name</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content.</p>
                            <a href="#" class="btn btn-primary">Contact me</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>
{% endblock content %}

{% comment %} {% block js %}
const notifyScoket = new WebSocket(
'ws://'
+ window.location.host
+ '/ws/notify/'
);

// on socket open
notifyScoket.onopen = function (e) {
console.log('Socket successfully connected.');
};

// on socket close
notifyScoket.onclose = function (e) {
console.log('Socket closed unexpectedly');
};

// on receiving message on group
notifyScoket.onmessage = function (e) {
const data = JSON.parse(e.data);
const message = data.message;
print(message)
// Call the setMessage function to add the new li element
setMessage(message);

};

function setMessage(message) {
// Create a new li element
var newLi = document.createElement('li');

// Create a new anchor element
var newAnchor = document.createElement('a');
newAnchor.className = 'dropdown-item text-wrap';
newAnchor.href = '#';
newAnchor.textContent = message;

// Append the anchor element to the li element
newLi.appendChild(newAnchor);

// Get the ul element with the id "notify"
var ulElement = document.getElementById('notify');

// Append the new li element to the ul element
ulElement.appendChild(newLi);

// getting object of count
count = document.getElementById('bellCount').getAttribute('data-count');
document.getElementById('bellCount').setAttribute('data-count', parseInt(count) + 1);
}


{% endblock js %} {% endcomment %}